@inject ICompetitionService CompetitionService
@inject ICurrentUserService CurrentUserService
@inject IUserService UserService

<div class="row d-flex align-items-center">

	<div class="col-8 text-center">
		<h1>Current Event for Operator</h1>
	</div>

	<div class="col-4 text-end">

		<button class="btn btn-success" @onclick="FetchData">
			<span class="oi oi-loop-circular" aria-hidden="true"></span>
			<span>&nbsp;Refresh List</span>
		</button>

	</div>

</div>

@if (!dataFetched)
{
	<Loader Size="large" />
}
else
{
	if (_exceptionFlag)
	{
		<div>
			<h3>You don't have any events, relax</h3>
		</div>
	}
	else
	{
		<CurrentCompetitionComponent Competition="currentCompetition" />
	}
}


@code {

	CompetitionDT currentCompetition = new();
	bool dataFetched;
	bool _exceptionFlag;

	int curentUserId;
	int currentCompetitionId;

	protected override async Task OnInitializedAsync()
	{
		curentUserId = (await CurrentUserService.GetCurrentUserAsync()).Id.Value;
		Console.WriteLine(curentUserId + " curentUserId");
		_exceptionFlag = false;
		await FetchData();
	}

	private async Task FetchData()
	{
		try
		{
			dataFetched = false;
			Console.WriteLine("cur event start");
			currentCompetition = await UserService.GetOperatorCurrentOrNearestCompetition(curentUserId);
			currentCompetitionId = currentCompetition.Id.Value;
			dataFetched = true;
			Console.WriteLine("cur event end");

		}
		catch
		{
			dataFetched = true;
			_exceptionFlag = true;
			Console.WriteLine("exception");

		}

	}
}
